@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --headings: "Roboto", sans-serif;
    --bg-color: ;
    --text-color: ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #1d1d1d;
    display: flex;
    flex-flow: column;
    height: 100vh;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif
}

h2{
    margin-bottom: 2.5rem;
    font-size: 26px;
}

h4{
    font-size: 22px;
}