@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --headings: "Roboto", sans-serif;
    --bg-color: ;
    --text-color: ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #1d1d1d;
    display: flex;
    flex-flow: column;
    height: 100vh;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif
}

h1{
    margin-bottom: 3rem;
    font-size: 38px;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 30px;
}

h3 {
    margin-bottom: 1.5rem;
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

p {
    margin-bottom: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.2s ease-out;
    display: flex;
    flex-flow: row;
    width: fit-content;
    gap: 0.5rem;
    align-items: center;

    & img {
        filter: invert(100);
        height: 1.5rem;
        transform: rotate(90deg);
    }
}

.inline_link {
    display: flex;
    flex-flow: row;
    gap: 0.2rem;
    border-bottom: solid 1px ;
    width: fit-content;

    & img {
        transform: rotate(90deg);
    }
}

section {
    margin-bottom: 3.2rem;
}